<div navbar-directive></div>
<div class="ui attached very padded text container segment" style="background-color: #D9D9D9;min-height: 100%;">
    <div class="ui middle aligned center aligned grid">
        <div class="ui basic center aligned segment">
            <h2 class="ui header">Perfil de Usuario</h2>
            <img class="ui small centered bordered circular image" ng-src={{vm.user.userProfilePicture}}>
            <h3 class="ui header">{{vm.user.userName}}</h3>
            <p><a>{{vm.user.userMail}}</a></p>
            <h4 class="ui header">{{vm.user.organizationName}}</h4>
        </div>
        <div class="row">
            <div class="column">
                <button class="ui negative button" href="" ng-click="vm.logout()">Cerrar Sesión</button>
                <button class="ui primary button" href="" ng-click="vm.editUser()">Editar</button>
            </div>
        </div>
    </div>
</div>