<div navbar-directive></div>
<div class="ui attached very padded text container segment" style="background-color: #D9D9D9;min-height: 100%;">
    <div class="ui middle aligned center aligned grid">
        <div class="ui basic center aligned segment">
            <div flow-init="{target:'/uploader', maxChunkRetries: 1, singleFile: true}" flow-name="uploader.flow" flow-files-added="vm.processFiles($files)">
                <form class="ui form">
                    <div class="ui centered grid">
                        <div class="row">
                            <h3 class="ui centered header">
                                <div class="content">
                                    Imagen de Perfil
                                </div>
                            </h3>
                        </div>
                        <div class="row">
                            <div class="field">
                                <img flow-btn flow-attrs="{accept:'image/*'}" flow-img="$flow.files[0]" class="ui small centered image" name="uploadedImage" src="app/upload/assets/img/uploadImg.png" ng-model="vm.pic">
                                <br></br>
                                <span class="ui small button" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}" style="background-color: #034A91; color: #FFFFFF">Cambiar imagen</span>
                                <input id="vm.image_uploaded" ng-show="false" type="text" name="image_uploaded">
                            </div>
                        </div>
                        <div class="row">
                            <div class="field">
                                <label>Correo Electrónico</label>
                                <input type="text" name="mail" placeholder="usuario@mail.com" ng-model="vm.mail">
                            </div>
                        </div>
                        <div class="row">
                            <div class="field">
                                <label>Contraseña</label>
                                <input type="password" name="pass" placeholder="********" ng-model="vm.pass">
                            </div>
                        </div>
                        <div class="row">
                            <div class="field">
                                <label>Nombre</label>
                                <input type="text" name="name" placeholder="Jose Aguilar" ng-model="vm.name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="ui large button" ng-click="vm.submitForm()" style="background-color: #034A91; color: #FFFFFF" ng-click="vm.getData()">Guardar</div>
                            <div class="ui large button" ng-click="vm.cancelEdit()" style="background-color: #C1272D; color: #FFFFFF">Cancelar</div>
                        </div>
                        <div class="ui error message"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-body">
            <h3 class="ui centered header">
                <div class="content">
                    Confirmar edición de usuario
                </div>
            </h3>
            <h3 ng-show="errorUploading" class="ui centered red header">
                <div class="content">
                    Ocurrió un error con la consulta
                </div>
            </h3>
            <div class="ui centered grid">
                <div class="row">
                    <div class="ui large submit button" style="background-color: #034A91; color: #FFFFFF">Sí</div>
                    <div ng-click="vm.closeModal()" class="ui large button" style="background-color: #C1272D; color: #FFFFFF">No</div>
                </div>
            </div>
        </div>
    </div>
</div>