<div class="middle_centered_1">
    <div class="middle_centered_2">
        <div class="middle_centered_3">
            <div class="ui three column centered grid">
                <div class="column">
                    <!-- style="background-color: #D9D9D9; -->
                    <img class="ui centered image" src="app/components/login/assets/img/logo.png">
                    <hr>
                    <!--FORM-->
                    <form class="ui large form">
                        <div class="ui stacked segment">
                            <h3 class="ui centered header">
                                <div class="content">
                                    Iniciar Sesión
                                </div>
                            </h3>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="email" name="email" placeholder="Correo electrónico">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="ui fluid large submit button" ng-click="submit()" style="background-color: #95C623; color: #FFFFFF">Ingresar</div>
                            <div class="ui error message"></div>
                            <h4 class="ui red centered header">
                                <div class="content" ng-show="NotRegistered">
                                    Los valores ingresados no corresponden a ningún usuario registrado
                                </div>
                            </h4>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>