<div navbar-directive></div>
<div class="ui attached very padded text container segment" style="background-color: #D9D9D9;min-height: 100%;">
    <div class="ui middle aligned center aligned grid">
        <div class="ui basic center aligned segment">
            <div flow-init="{target:'/uploader', maxChunkRetries: 1, singleFile: true}">
                <form class="ui form">
                    <div class="ui centered grid">
                        <div class="row">
                            <h3 class="ui centered header">
                                <div class="content">
                                    Seleccione la imagen a procesar
                                </div>
                            </h3>
                        </div>
                        <div class="row">
                            <div class="field">
                                <img flow-btn flow-attrs="{accept:'image/*'}" flow-img="$flow.files[0]" class="ui small centered image" name="uploadedImage" src="_core/components/upload/assets/img/uploadImg.png">
                                <br></br>
                                <span class="ui small button" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}" style="background-color: #034A91; color: #FFFFFF">Cambiar imagen</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field">
                                <label>Enfermedad</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="disease">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Seleccione la enfermedad</div>
                                    <div class="menu">
                                        <div class="item">La del gallillo</div> <!--ng-repeat="especie in especies"--> <!-- {{especie.ESPECIE}} -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field">
                                <label>Descripción</label>
                                <textarea placeholder="Descripción..."></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ui large submit button" style="background-color: #034A91; color: #FFFFFF">Enviar</div>
                            <div class="ui large button" style="background-color: #C1272D; color: #FFFFFF">Cancelar</div>
                        </div>
                        <div class="ui error message"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>